<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
    <style>
        *{
            background-color: black;
        }
    </style>
</head>
<body>
    <div class="admission-page">
        <div class="admission-container">
            <a href="/register"><button>REGISTER</button></a>
            <a href="/view"><button>VIEW</button></a>
            <a href="/update"><button>UPDATE</button></a>
            <a href="/delete"><button>DELETE</button></a>
        </div>
    </div>
</body>
</html>