<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap"
      rel="stylesheet"
    />
    <title>HOME PAGE</title>
  </head>
  <body>
    <div class="banner-section">
      <img src="../static/images/banner.jpg" alt="narsimha reddy banner" />
    </div>
    <div class="hero-section">
        <div class="sub-hero-section-1">
            <img src="../static/images/admissions.jpg" alt=""/>
        </div>
        <div class="sub-hero-section-2">
            <a href="/admission"><h1 class="title">manage admission</h1></a>
            <img src="../static/images/college2.jpg" alt="">
        </div>
    </div>
    <div class="college-photos-section">
        <h1 class="title1">NRCM GALLERY</h1>
        <div class="college-photos">
            <img src="../static/images/play.jpg" class="photo-1" />
            <img src="../static/images/students.jpg " class="photo-2" />
            <img src="../static/images/dining.jpg" class="photo-3" />
            <img src="../static/images/seminar.jpg" class="photo-4" />
            <img src="../static/images/graduation.jpg" class="photo-5" />
        </div>
    </div>
    <div class="volunteer-section">
        <div class="sub-volunteer-section-1">
            <img src="../static/images/hr.jpg" alt="">
        </div>
        <div class="sub-volunteer-section-2">
            <h1>CONTACT OUR VOLUNTEER</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id quo ipsa reprehenderit! Ea minus distinctio expedita ipsum natus rem delectus.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id quo ipsa reprehenderit! Ea minus distinctio expedita ipsum natus rem delectus.</p>
            <p class="last-p">
              (+91) 123-456-789<br>
              souryaReddy@gmail.com
            </p>
        </div>
    </div>
    <div class="footer-section">

      <div class="sub-footer-section-1">
        <h1>ADDRESS</h1>
        <p>
          Maisamaguda (V), Kompally,<br/>
          secundrabad-500100,<br/>
          Telanga State, India<br/>
        </p>
      </div>
      <div class="sub-footer-section-2">
        <form action="/query_form" method="post">
          <input type="text" placeholder="name" name="name">
          <input type="email" placeholder="email" name="email">
          <input type="text" placeholder="phone" name="phone">
          <select name="field">
            <option value="cse">CSE</option>
            <option value="ece">ECE</option>
            <option value="eee">EEE</option>
          </select>
          <input type="submit">
        </form>
      </div>
      <div class="sub-footer-section-3">
        <h1>CONTACT</h1>
        <p>
          Landline, 040-190-150<br/>
          Hyderabad, alvein<br/>
          website:- www.nrcm.com
        </p>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © 2022 || All Rights Reserved || Developed By NARASIMHA VADLA</p>
    </div>
  </body>
</html>
